<div class="auth-main v3">
  <div class="bg-overlay"></div>
  <div class="auth-wrapper">
    <div class="auth-form">
      <div class="card my-5">
        <div class="row align-items-stretch text-center g-0">
          <div class="col-md-6 img-card-side position-realtive d-none d-md-flex">
            <div class="image-panel">
              <img src="/assets/building.png" alt="UNIVEN building" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="card-body d-flex flex-column justify-content-between h-100">
              <div class="p-2">
                <img src="/assets/univen-logo.png" alt="UNIVEN Logo" class="img-fluid me-2" style="max-width: 120px; height: auto;" />
              </div>
              <div class="">
                <div class="input-group mb-3">
                  <span class="input-group-text"><i data-feather="user"></i></span>
                  <input type="text" class="form-control" placeholder="Username" />
                </div>
                <div class="input-group mb-4">
                  <span class="input-group-text"><i data-feather="lock"></i></span>
                  <input type="password" class="form-control" placeholder="Password" />
                </div>
                <div class="mb-4">
                  <div class="form-check text-start">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="" />
                    <label class="form-check-label" for="flexCheckChecked"> I accept the <a href="#!"> Term &amp; condition</a> </label>
                  </div>
                </div>
                <div class="">
                  <button class="btn btn-primary btn-block mt-2" routerLink="/dashboard">Login</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
